@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Indie+Flower&display=swap');

*   {
    box-sizing: border-box;
}

h1  {
    font-family: 'Indie Flower', cursive;
}

table   {
    font-family: 'Courgette', cursive;
}

.container  {
    background-image: url(../img/sheet.png);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;
}